body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
  }

  h1{
    font-family: 'EB Garamond', serif;
  }
  
  .product-container {
    font-family: 'Maven Pro', sans-serif;
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .product-card {
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
  }

 .footer {
   background-color: grey;
   color: white;
   text-align: center;
   padding: 10px;
 }

 .footer p {
   margin: 0;
 }


  
  
